<%= form_with(model: work_place,local: true) do |form| %>
    <%# error出力 %>
    <% if work_place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(work_place.errors.count, "error") %> error! 保存されませんでした！</h2>
        <ul>
        <% work_place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name ,:placeholder => "店名"%>
    </div>
  
    <div class="field">
      <%= form.label :region %>
      <%= form.text_field :region ,:placeholder => "地方"%>
      <%# 後でプルダウンﾘｽﾄ化したい %>
       <!--select_tag(:region, options_for_select(["東北","関東","中部","信越","関西","中部","四国","九州",]))  ,:placeholder => "地方"-->
    </div>
  
    <div class="field">
      <%= form.label :tel %>
      <%= form.number_field :tel ,:placeholder => "09012345678"%>
    </div>
  
    <div class="field">
      <%= form.label :address %>
      <%= form.text_area :address ,:placeholder => "住所"%>
    </div>
  
    <div class="field">
      <%= form.label :opentime %>
      <%= form.time_select :opentime ,:placeholder => "営業開始", include_blank: true%>
    </div>
  
    <div class="field">
      <%= form.label :closetime %>
      <%= form.time_select :closetime, :placeholder => "営業終了", include_blank: true %>
    </div>
  
    <div class="field">
      <%= form.label :url %>
      <%= form.text_area :url %>
    </div>
  
  
    <div class="field">
      <%= form.hidden_field :user_id, :value => @user %>
    </div>

    <% if user_signed_in? %>
      <div class="actions">
        <%= form.submit value:"登録", data: {disable_with: "Now Loading..."}%>
      </div>
    <% end %>
<% end %>
