<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_place.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @work_place.region %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @work_place.tel %>
</p>

<p>
  <strong>Url:</strong>
  <%= @work_place.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @work_place.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @work_place.user_id %>
</p>

<%= link_to 'Edit', edit_work_place_path(@work_place) %> |
<%= link_to 'Back', work_places_path %>
